*{
    font-family: 'poppins', 'arial', '標楷體';
}
body{
    background: #fff;
    height: 95vh;
    margin: 0;
}
.top-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    text-align: center;
    background: #000;
    margin: 0;
    padding: 0;
}
.link{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
.explation{
    background: #000;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
footer{
    color: #fff;
    background: #000;
    height: 26px;
    text-align: center;
}