meta{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin: 0;
    background-color: #f4f4f4;
}
.countdown{
    font-family: 2rem;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}