*{    
    font-family: 'poppins', 'arial', '標楷體';
}
body{
    background-color: #fff;
}
.btn{
    height: 45px;
    font-size: 15px;
    color: #fff;
    background-color: rgba(75, 70, 180, 0.85);
    border: 1px solid #ccc;
    border-radius: 10px;
}
.box{
    background: #00b2ff;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    border-radius: 25px;
    width: auto;
    box-shadow: 0 0 125px 0 rgba(0, 0, 0, 0.1),
                0 30px 50px -45px rgba(0, 0, 0, 0.5);
}
.form-box{
    
    margin: 0px 300px;
}
.form-box header{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.auto-style1{
    text-align: center;
}