body{
    margin: 0;
    width: 100%;
    font-size: 15px;
}
table{
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}
th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.top-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    text-align: center;
    background: #000;
    margin: 0;
    padding: 0;
}
button{
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
.button{
    padding: 10px;
}
.Next{
    right: 50%;
    position: absolute;
}
.calculator{
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: 18px;
}
.number{
    background: #007bff;
    padding: 10px 10px 10px 10px;
    border-radius: 3px;
    bottom: 0;
    position: absolute;
    color: #fff;
}
.que-total{
    display: none;
}
.link{
    color: #fff;
    text-decoration: none;
}
.top-menu span{
    color: #fff;
}
