body{
    margin: 0;
    width: 100%;
    font-size: 18px;
}
table{
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid none;
}
th, td, tr{
    border: 1px solid none;
    padding: 10px;
    text-align: left;
}
.top-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    text-align: center;
    background: #000;
    margin: 0;
    padding: 0;
}
.select{
    font-size: 18px;
}
button{
    padding: 10px 20px 10px 20px;
    border: none;
    color: #000;
    border-radius: 5px;
    background: #DADADA ;
    cursor: pointer;
    font-size: 15px;
}
.next{
    left: 20px;
    bottom: 10px;
    position: absolute;
}
.calculator{
    right: 20px;
    bottom: 10px;
    position: absolute;
    font-size: 18px;
}
.number{
    background: #007bff;
    border-radius: 3px;
    font-size: 24px;
    padding-right: 0;
    color: #fff;
}
.user-answer{
    margin-top: 2px;
    font-size: 10px;
    color: #888;
}
.radio{
    font-size: 18px;
    color: #DADADA;
}
.que-total{
    display: none;
}
.link{
    color: #fff;
    text-decoration: none;
}
.top-menu span{
    color: #fff;
}
.msg{
    flex-direction: column;
    display: flex;
    align-items: center;
    background: #DADADA;
    justify-content: center;
    text-align: center;
}