body{
    margin: 0;
    width: 100%;
}
table{
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}
th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.top-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    text-align: center;
    background: #000;
    margin: 0;
    padding: 0;
}
button{
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}