body{
	background-color: #9287ED;
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 90vh;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45px;
	pad: 1rem 0rem;
	background-color: #1d1d1d;
	color: aqua;
}
.link{
	text-decoration: none;
	color: #4491FF;
	font-size: 15px;
	padding: 0.5rem;
	position: relative;
}
p{
	font-size: 15px;
}
.box{
	background: #fdfdfd;
	display: flex;
	flex-direction: column;
	padding: 25px 25px;
	border-radius: 20px;
	box-shadow: 0 0 125px 0 rgba(0, 0, 0, 0.1),
				0 30px 50px -45px rgba(0, 0, 0, 0.5);
}
.form-box{
	width: 400px;
	margin: 0px 12px;
}
.form-box header{
	font-size: 20px;
	font-weight: 500;
	padding-bottom: 12px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 12px;
}
.form-box form .field{
	display: flex;
	margin-bottom: 15px;
	flex-direction: column;
}
.form-box form .input input{
	height: 30px;
	width: 100%;
	font-size: 15px;
	padding: 8 5px;
	border-radius: 10px;
	border: 1px solid #ccc;
	outline: none;
}
.btn{
	height: 45px;
	background: rgba(20, 80, 180, 0.5);
	border-radius: 10px;
	border: 1px solid #ccc;
	font-size: 15px;
	cursor: pointer;
	transition: all .5s;
	margin-top: 15px;
}
.btn:hover{
	opacity: 0.85;
}