/*內頁*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.form-box header{
    height: 10px;
    font-size: 25px;
}
/*置頂列*/
header{
    font-size: 24px;
    position: absolute;
    top: 0;
    padding: 10px 0;
    color: #fff;
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    background: #1d1d1d;
    height: 45px;
    width: 100%;
    text-align: center;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    pad: 1rem 0rem;
    background: #333;
    color: #fff;
}
ul{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    list-style: none;
    background-color: #1d1d1d;
}
/*左側選單*/
.left-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 43px;
    height: 100%;
    background: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.left-menu a:hover{
    background: #555;
}
/*末頁*/
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
}
.link{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 0.5rem;
    position: relative;
}