.front-paper {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #f7f7f7;
}

.back-paper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    transform: rotateY(180deg);
    background-color: #333;
}

#prev-btn, #next-btn {
    position: absolute;
    bottom: 20px;
    background-color: #4CAF50;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
