body {
  background: #111;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.player {
  max-width: 600px;
  width: 90%;
}

#lyrics{
  height: 300px;
  overflow-y: auto;
  font-size: 1.5rem;
}

#lyrics div{
  line-height: 1.8;
  opacity: 0.5;
  transition: 0.2s;
}

#lyrics div.active {
  font-weight: bold;
  color: #0f0;
  opacity: 1;
}
