body{
    color: #fff;
    background: #000;
}
span{
    justify-content: center;
    display: none;
}
ul{
    display: none;
    color: #fff;
    flex-direction: column;
    font-size: 18px;
}
li{
    list-style: none;
}
.btn{
    color: #fff;
    text-decoration: none;
}
.small{
    display: none;
    font-size: 15px;
}
.content{
    font-size: 48px;
    justify-content: center;
    display: flex;
    margin-top: 20%;

}